# What is Python

In [12]:
# Python is a simple, general purpose, high level, interpreted scripting language,and object-oriented programming language

# What is Simple

In [13]:
# Python has a simple syntax similar to the English language.

# Python has syntax that allows developers to write programs with fewer lines than some other programming languages.

# What is General purpose

In [14]:
# A general-purpose language is a programming language that can create all types of programs.

# What is High Level Language

In [15]:
# Programmers can easily understand or interpret or compile the high level language in comparison of machine.

# What is Interpreated Language

In [16]:
# An interpreted language is a programming language that is generally interpreted, without compiling a program into machine instructions

# What is Compiled Language

In [17]:
# A compiled language is a programming language that is generally compiled and not interpreted.

#It is one where the program, once compiled, is expressed in the instructions of the target machine.

# What is Object Oriented Programming language

In [18]:
# As the name suggests, Object-Oriented Programming or OOPs refers to languages that use objects in programming.

# Object-oriented programming aims to implement real-world entities like inheritance, hiding, polymorphism, etc in programming.

# Who Develope Python

In [20]:
# It was created by Guido van Rossum, and released in 1991.

# Where did the name Python come from

In [21]:
# The inspiration for the name came from BBC’s TV Show – ‘Monty Python’s Flying Circus’.

# as he was a big fan of the TV show and also he wanted a short, unique and slightly mysterious name for his invention and hence he named it Python!.

# What can Python do?

In [22]:
# Python can be used on a server to create web applications.
# Python can be used alongside software to create workflows.
# Python can connect to database systems. It can also read and modify files.
#b Python can be used to handle big data and perform complex mathematics.
# Python can be used for rapid prototyping, or for production-ready software development

# Why Python

In [23]:
# Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
# Python has a simple syntax similar to the English language.
# Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
# Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
# Python can be treated in a procedural way, an object-oriented way or a functional way.

In [24]:
print("Hello world")

Hello world

# Python Comments

In [27]:
# Comments can be used to explain Python code.

# Comments can be used to make the code more readable.

# Comments can be used to prevent execution when testing code.

# Creating a Comment

In [28]:
# Comments starts with a #, and Python will ignore them:

In [29]:
#This is a comment
print("Hello, World!")

Hello, World!

In [30]:
# Comments can be placed at the end of a line, and Python will ignore the rest of the line:

print("Hello, World!") #This is a comment

Hello, World!

# Multiline Comments

In [31]:
# Python does not really have a syntax for multiline comments.

# To add a multiline comment you could insert a # for each line:

In [32]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [33]:
# Or, not quite as intended, you can use a multiline string.

# Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [34]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Python Variables

In [35]:
# Variables are containers for storing data values.

In [39]:
# Creating Variables

# Python has no command for declaring a variable.

# A variable is created the moment you first assign a value to it.

In [41]:
x = 5
y = "John"
print(x)
print(y)

5
John

# Get the Type

In [42]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Variable Names

In [43]:
# A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

In [44]:
# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)

# Legal variable names:

In [45]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Illegal variable names:

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

# Multi Words Variable Names

# Camel Case

In [47]:
# Each word, except the first, starts with a capital letter:

In [48]:
myVariableName = "John"

# Pascal Case

In [49]:
# Each word starts with a capital letter:

In [50]:
MyVariableName = "John"

# Snake Case

In [51]:
# Each word is separated by an underscore character:

In [53]:
my_variable_name = "John"

# Assign Multiple Values

In [56]:
# Many Values to Multiple Variables

In [57]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [58]:
# One Value to Multiple Variables

In [59]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Output Variables

In [60]:
# The Python print() function is often used to output variables.

In [61]:
x = "Python is awesome"
print(x)

Python is awesome

In [62]:
# In the print() function, you output multiple variables, separated by a comma:

In [63]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

# Python Data Types

In [64]:
# In programming, data type is an important concept.

In [65]:
# Variables can store data of different types, and different types can do different things.

# Python has the following data types built-in by default, in these categories:

In [66]:
# Text Type:              	str
# Numeric Types:          	int, float, complex
# Sequence Types:         	 list, tuple, range
# Mapping Type:           	dict
# Set Types:              	set, frozenset
# Boolean Type:           	bool
# Binary Types:           	bytes, bytearray, memoryview
# None Type:              	NoneType

# Getting the Data Type

In [67]:
x = 5
print(type(x))

<class 'int'>

# Python Numbers

In [68]:
# There are three numeric types in Python:

# int
# float
# complex

In [69]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Type Conversion

In [70]:
# You can convert from one type to another with the int(), float(), and complex() methods:

In [71]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [72]:
#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Strings

In [74]:
# Strings in python are surrounded by either single quotation marks, or double quotation marks.

# 'hello' is the same as "hello".

In [75]:
print("Hello")
print('Hello')

Hello
Hello

In [76]:
# Assign String to a Variable

a = "Hello"
print(a)

Hello

In [77]:
# String Length

a = "Hello, World!"
print(len(a))

13

In [78]:
# Slicing Strings

# You can return a range of characters by using the slice syntax.

# Specify the start index and the end index, separated by a colon, to return a part of the string.

In [79]:
b= "Hello World!"
print(a[1:5])

ello

In [80]:
# Get the characters from the start to position 5 (not included):


b = "Hello, World!"
print(b[:5])

Hello

In [81]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [82]:
str = "HELLO"  
print(str[0])  
print(str[1])  
print(str[2])  
print(str[3])  
print(str[4])

H
E
L
L
O

In [83]:
str = "JAVATPOINT"  

print(str[0:])  

print(str[1:5])  

print(str[2:4])  

print(str[:3])  

print(str[4:7])

JAVATPOINT
AVAT
VA
JAV
TPO

In [85]:
str = 'JAVATPOINT'  
print(str[-1])  
print(str[-3])  
print(str[-2:])  
print(str[-4:-1])  
print(str[-7:-2])  
# Reversing the given string  
print(str[::-1])

T
I
NT
OIN
ATPOI
TNIOPTAVAJ

In [87]:
# String Concatenation

a = "Hello"
b = "World"
c = a +" " +b
print(c)

Hello World

In [ ]:
#  Format - Strings

# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

In [89]:
# But we can combine strings and numbers by using the format() method!

# The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [91]:
age = 32
txt = "My name is Hemant and I am {}"
print(txt.format(age))

My name is Hemant and I am 32

In [92]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

quantity = 3
itemno = 567
price = 49.95

myorder = "I want to {} Piece of item {} for {} dollars."
print(myorder.format(quantity,itemno,price))

I want to 3 Piece of item 567 for 49.95 dollars.

In [93]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [94]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [95]:
age = 32
name = "Hemant"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is Hemant. Hemant is 32 years old.

In [96]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

In [98]:
# String Methods

# Python has a set of built-in methods that you can use on strings.

In [99]:
# 1. capitalize():-Converts the first character to upper case

txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [100]:
# 2. casefold():- Converts string into lower case

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [101]:
# 3. center():- Returns a centered string

txt = "banana"

x = txt.center(20)

print(x)

       banana

In [102]:
# 4. count():- Returns the number of times a specified value occurs in a string

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [103]:
# 5. encode():- Returns an encoded version of the string

txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [1]:
# 6 endswith():- Returns true if the string ends with the specified value
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [2]:
# 7. expandtabs():- Sets the tab size of the string

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [3]:
# 8. find():- Searches the string for a specified value and returns the position of where it was found

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [4]:
# 9.index():- Searches the string for a specified value and returns the position of where it was found

txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [5]:
# 10. isalnum():- Returns True if all characters in the string are alphanumeric

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [6]:
# 11. isalpha():- Returns True if all characters in the string are in the alphabet

txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [7]:
# 12. isdigit():- Returns True if all characters in the string are digits

txt = "50800"

x = txt.isdigit()

print(x)

True

In [8]:
# 13. join():- Joins the elements of an iterable to the end of the string

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [9]:
# 14. lower():- Converts a string into lower case

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [10]:
# 15. replace():- Returns a string where a specified value is replaced with a specified value

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [11]:
# 16 . split():- Splits the string at the specified separator, and returns a list

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [12]:
# 17 . rsplit():- Splits the string at the specified separator, and returns a list

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [13]:
# 18 . strip():- Returns a trimmed version of the string

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [14]:
# 19. title():- Converts the first character of each word to upper case

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [15]:
# 20. upper():- Converts a string into upper case

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

# Python Boolean

In [1]:
# Booleans represent one of two values: True or False.

# In programming you often need to know if an expression is True or False.

# You can evaluate any expression in Python, and get one of two answers, True or False.

In [2]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [3]:
print(bool("Hello"))
print(bool(15))

True
True

# Python Operators

In [4]:
# Operators are used to perform operations on variables and values.

# Python divides the operators in the following groups:

# Arithmetic operators
# Assignment operators
# Comparison operators
# Logical operators
# Identity operators
# Membership operators
# Bitwise operators

# Python Arithmetic Operators

In [5]:
# Arithmetic operators are used with numeric values to perform common mathematical operations:

# Operator             	Name
# +                    	Addition
# -                    	Subtraction
# *                    	Multiplication
# /                    	Division
# %                    	Modulus
# **                   	Exponentiation
# //                   	Floor division

In [6]:
# + Addition

x = 5
y = 3


print(x + y)

8

In [7]:
# -Subtraction

x = 5
y = 3

print(x - y)

2

In [8]:
# * Multiplication
x = 5
y = 3

print(x * y)

15

In [9]:
# / Division
x = 5
y = 3

print(x / y)

1.6666666666666667

In [10]:
# % Modulus

x = 5
y = 3

print(x % y)

2

In [11]:
# ** Exponentiation	

x = 5
y = 3

print(x ** y)

125

In [12]:
# // Floor division


x = 5
y = 3

print(x // y)

1

# Python Assignment Operators

In [13]:
# Assignment operators are used to assign values to variables:

# Operator                  
# =
# +=
# -=
# *=
# /=
# %=
# //=
# **=
# &=
# |=
# ^=
# >>=
# <<=

In [14]:
x = 5

print(x)

5

In [15]:
x = 5

x += 3

print(x)

8

In [16]:
x = 5

x -= 3

print(x)

2

In [17]:
x = 5

x *= 3

print(x)

15

In [18]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [19]:
x = 5

x%=3

print(x)

2

In [20]:
x = 5

x//=3

print(x)

1

In [21]:
x = 5

x **= 3

print(x)

125

# Python Comparison Operators

In [22]:
# Comparison operators are used to compare two values:

# Operator                               	Name
# ==                                     	Equal
# !=                                     	Not equal
# >                                      	Greater than
# <                                      	Less than
# >=                                     	Greater than or equal to
# <=                                     	Less than or equal to

In [23]:
x = 5
y = 3

print(x == y)

False

In [24]:
x = 5
y = 3

print(x != y)

True

In [25]:
x = 5
y = 3

print(x > y)

True

In [26]:
x = 5
y = 3

print(x < y)

False

In [27]:
x = 5
y = 3

print(x >= y)

True

In [28]:
x = 5
y = 3

print(x <= y)

False

# Python Logical Operators

In [29]:
# Operator                                	Description	Example	Try it
# and                                     	Returns True if both statements are true	x < 5 and  x < 10	
# or                                      	Returns True if one of the statements is true	x < 5 or x < 4	
# not                                     	Reverse the result, returns False if the result is true

In [30]:
x = 5

print(x > 3 and x < 10)

True

In [31]:
x = 5

print(x > 3 or x < 4)

True

In [38]:
x = 5

print(not(x > 3 and x < 10))

False

# Python Identity Operators

In [39]:
# Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

# Operator                               	Description	Example	Try it
# is                                     	Returns True if both variables are the same object	x is y	
# is not                                 	Returns True if both variables are not the same object	x is not y

In [40]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

print(x is y)

print(x == y)

True
False
True

In [41]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

print(x is not y)

False
True

# Python Membership Operators

In [42]:
# Membership operators are used to test if a sequence is presented in an object:

# Operator                             	Description	Example	Try it
# in                                   	Returns True if a sequence with the specified value is present in the object	x in y	
#not in                               	Returns True if a sequence with the specified value is not present in the object

In [43]:
x = ["apple", "banana"]

print("banana" in x)

True

In [44]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

# Python Bitwise Operators

In [46]:
Bitwise operators are used to compare (binary) numbers:

# Operator                                     	Name                         	Description	Example	Try it
# &                                            	AND                          	Sets each bit to 1 if both bits are 1	x & y	
# |                                            	OR                           	Sets each bit to 1 if one of two bits is 1	x | y	
# ^                                            	XOR                          	Sets each bit to 1 if only one of two bits is 1	x ^ y	
# ~                                            	NOT                          	Inverts all the bits	~x	
# <<                                           	Zero fill left shift         	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2	
#>>                                           	Signed right shift           	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

SyntaxError: invalid syntax (2977800875.py, line 1)

In [47]:
print(6 & 3)

2

In [48]:
print(6 | 3)

7

In [49]:
print(6 ^ 3)

5

In [50]:
print(~3)

-4

In [51]:
print(3 << 2)

12

In [52]:
print(8 >> 2)

2

# Python Lists

In [55]:
# Lists are used to store multiple items in a single variable.

# Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

# Lists are created using square brackets:

# List items are ordered, changeable, and allow duplicate values.

# List items are indexed, the first item has index [0], the second item has index [1] etc.

In [54]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [56]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [57]:
# List Length

# To determine how many items a list has, use the len() function:

In [58]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [59]:
# type()

# From Python's perspective, lists are defined as objects with the data type 'list':

In [60]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [62]:
# Access List Items

# List items are indexed and you can access them by referring to the index number:

In [63]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [64]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

In [65]:
thislist = ["apple", "banana", "cherry"]
print(thislist[0])

apple

In [66]:
# Negative Indexing

# Negative indexing means start from the end

# -1 refers to the last item, -2 refers to the second last item etc.

In [67]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [68]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-2])

banana

In [69]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-3])

apple

In [70]:
# Range of Indexes

# You can specify a range of indexes by specifying where to start and where to end the range.

In [71]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [75]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [76]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [77]:
# Range of Negative Indexes

# Specify negative indexes if you want to start the search from the end of the list:

In [78]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [79]:
# Change List Items

# To change the value of a specific item, refer to the index number:

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist[1]="blackcurrent"
print(thislist)

['apple', 'blackcurrent', 'cherry']

In [81]:
# Change a Range of Item Values

# To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [82]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3]=["blackcurrent","watermelon"]
print(thislist)

['apple', 'blackcurrent', 'watermelon', 'orange', 'kiwi', 'mango']

In [83]:
#  List Comprehension

# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [84]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [85]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [86]:
# List Methods

In [88]:
# append():- Adds an element at the end of the list


fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [89]:
# clear():- Removes all the elements from the list

fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

[]

In [90]:
# copy():- Returns a copy of the list

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

print(x)

['apple', 'banana', 'cherry', 'orange']

In [92]:
# count():- Returns the number of elements with the specified value

fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print(x)

1

In [94]:
# extend():- Add the elements of a list (or any iterable), to the end of the current list

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [96]:
# index():- Returns the index of the first element with the specified value

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [98]:
# insert():- Adds an element at the specified position

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [99]:
# pop():- Removes the element at the specified position

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

print(fruits)

['apple', 'cherry']

In [100]:
# remove():- Removes the item with the specified value

fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [101]:
# reverse():- Reverses the order of the list

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [102]:
# sort():- Sorts the list

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

# Python Tuples

In [103]:
# Tuples are used to store multiple items in a single variable.

# Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

# A tuple is a collection which is ordered and unchangeable.

# Tuples are written with round brackets.

In [104]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [105]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [106]:
# Tuple Length

# To determine how many items a tuple has, use the len() function:

In [107]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [108]:
# Access Tuple Items

# You can access tuple items by referring to the index number, inside square brackets:

In [109]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [110]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[0])

apple

In [111]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[2])

cherry

In [112]:
# Negative Indexing

# Negative indexing means start from the end.

In [113]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [114]:
# Range of Indexes

# You can specify a range of indexes by specifying where to start and where to end the range.

In [115]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [116]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1:5])

('banana', 'cherry', 'orange', 'kiwi')

In [117]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[3:5])

('orange', 'kiwi')

In [118]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [119]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[4:])

('kiwi', 'melon', 'mango')

In [120]:
# Range of Negative Indexes
# Specify negative indexes if you want to start the search from the end of the tuple:

In [121]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [122]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[::-1])

('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')

In [123]:
# Update Tuples

# Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

In [124]:
# Convert the tuple into a list to be able to change it:

In [125]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [126]:
# Unpack Tuples

# When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [127]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [128]:
# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [129]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [130]:
# Join Tuples

# To join two or more tuples you can use the + operator:

In [131]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [132]:
# Tuple Methods

# count():- Returns the number of times a specified value occurs in a tuple

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [133]:
# index():- Searches the tuple for a specified value and returns the position of where it was found

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

# Python Sets

In [134]:
# Sets are used to store multiple items in a single variable.

# Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

# A set is a collection which is unordered, unchangeable*, and unindexed.

In [135]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [136]:
# Duplicates Not Allowed

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [137]:
# Get the Length of a Set

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [138]:
# Access Set Items

# You cannot access items in a set by referring to an index or a key.

# But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [139]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [140]:
# Set Methods

In [141]:
# add():- Adds an element to the set

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'apple', 'banana', 'cherry', 'orange'}

In [142]:
# clear():- Removes all the elements from the set

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [143]:
# copy():- Returns a copy of the set

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'banana', 'cherry'}

In [144]:
# difference():- Returns a set containing the difference between two or more sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [145]:
# difference_update():- Removes the items in this set that are also included in another, specified set

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [146]:
# intersection():- Returns a set, that is the intersection of two other sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [147]:
# intersection_update():- Removes the items in this set that are not present in other, specified set(s)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [148]:
# pop():- Removes an element from the set

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'cherry'}

In [149]:
# remove():- Removes the specified element

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

In [150]:
# symmetric_difference():- Returns a set with the symmetric differences of two sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

In [151]:
# union():- Return a set containing the union of sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'google', 'apple', 'microsoft', 'banana', 'cherry'}

In [152]:
# update():- Update the set with the union of this set and others

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'google', 'apple', 'microsoft', 'banana', 'cherry'}

# Python Dictionaries

In [153]:
# Dictionaries are used to store data values in key:value pairs.

# A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [154]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [155]:
# Duplicates Not Allowed

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [156]:
# Dictionary Length
#To determine how many items a dictionary has, use the len() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

In [157]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [158]:
# Access Dictionary Items

#You can access the items of a dictionary by referring to its key name, inside square brackets:

In [160]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [161]:
# Get Keys
# The keys() method will return a list of all the keys in the dictionary.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [162]:
# Get Values

# The values() method will return a list of all the values in the dictionary.


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [164]:
# Change Dictionary Items

# You can change the value of a specific item by referring to its key name:

thisdict ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [165]:
# Add Dictionary Items

# Adding an item to the dictionary is done by using a new index key and assigning a value to it:


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [166]:
# Dictionary Methods

In [167]:
# clear():- Removes all the elements from the dictionary

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [168]:
# copy():- Returns a copy of the dictionary


car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [169]:
# fromkeys():- Returns a dictionary with the specified keys and value

x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [171]:
# get():- Returns the value of the specified key

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("model")
print(x)

Mustang

In [172]:
# items():- Returns a list containing a tuple for each key value pair

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [173]:
# keys():- Returns a list containing the dictionary's keys

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [174]:
# pop():-Removes the element with the specified key

car = {
  "brand": "Ford
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [175]:
# update():- Updates the dictionary with the specified key-value pairs

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

# Python If-else statements

In [176]:
# Decision making is the most important aspect of almost all the programming languages. 
# As the name implies, decision making allows us to run a particular block of code for a particular decision. 
# Here, the decisions are made on the validity of the particular conditions. 
# Condition checking is the backbone of decision making.

In [177]:
# Indentation in Python

# For the ease of programming and to achieve simplicity, python doesn't allow the use of parentheses for the block level code.
# In Python, indentation is used to declare a block. 
# If two statements are at the same indentation level, then they are the part of the same block

In [178]:
# The if statement

# The if statement is used to test a particular condition and if the condition is true, it executes a block of code known as if-block. 
# The condition of if statement can be any valid logical expression which can be either evaluated to true or false.

In [180]:
num=int(input("Enter the number"))
if num%2==0:
    print("Even number")

Enter the number10
Even number

In [181]:
# Program to print the largest of the three numbers.

In [182]:
a = int(input("Enter a? "));  
b = int(input("Enter b? "));  
c = int(input("Enter c? "));  
if a>b and a>c:  
    print("a is largest");  
if b>a and b>c:  
    print("b is largest");  
if c>a and c>b:  
    print("c is largest");

Enter a? 10
Enter b? 20
Enter c? 30
c is largest

In [183]:
# The if-else statement

# The if-else statement provides an else block combined with the if statement which is executed in the false case of the condition.

In [184]:
age = int (input("Enter your age? "))  
if age>=18:  
    print("You are eligible to vote !!");  
else:  
    print("Sorry! you have to wait !!");

Enter your age? 17
Sorry! you have to wait !!

In [185]:
num = int(input("enter the number?"))  
if num%2 == 0:  
    print("Number is even...")  
else:  
    print("Number is odd...")

enter the number?5
Number is odd...

In [186]:
# The elif statement

# The elif statement enables us to check multiple conditions and execute the specific block of statements depending upon the true condition among them. 
# We can have any number of elif statements in our program depending upon our need. 
# However, using elif is optional.

In [187]:
number = int(input("Enter the number?"))  
if number==10:  
    print("number is equals to 10")  
elif number==50:  
    print("number is equal to 50");  
elif number==100:  
    print("number is equal to 100");  
else:  
    print("number is not equal to 10, 50 or 100");

Enter the number?78
number is not equal to 10, 50 or 100

In [188]:
marks = int(input("Enter the marks? "))  
if marks > 85 and marks <= 100:  
   print("Congrats ! you scored grade A ...")  
elif marks > 60 and marks <= 85:  
   print("You scored grade B + ...")  
elif marks > 40 and marks <= 60:  
   print("You scored grade B ...")  
elif (marks > 30 and marks <= 40):  
   print("You scored grade C ...")  
else:  
   print("Sorry you are fail ?")

Enter the marks? 98
Congrats ! you scored grade A ...

# Python For Loops

In [189]:
# A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

# This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

# With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [190]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [193]:
numbers = [1,2,3,4,5,6,7,8,9,10] 
square = 0  
squares = []  
for value in numbers:
        square = value ** 2
        squares.append(square)
print(("The list of squares is", squares))

('The list of squares is', [1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [194]:
# The range() Function

# To loop through a set of code a specified number of times, we can use the range() function,

# The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [195]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [196]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [197]:
# Python Program to display Multiplication Table

In [202]:
num = int(input(" Please Enter any Positive Integer lessthan 10 : "))
for i in range(1, 11):
       print(num, 'x', i, '=', num*i)

 Please Enter any Positive Integer lessthan 10 : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [203]:
# The break Statement

# With the break statement we can stop the loop before it has looped through all the items:

In [204]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [205]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [206]:
str = "python"  
for i in str:  
    if i == 'o':  
        break  
    print(i);

p
y
t
h

In [207]:
# The continue Statement

# With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [208]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [210]:
for iterator in range(10, 21):  
    if iterator == 15:
        continue
    print( iterator )

10
11
12
13
14
16
17
18
19
20

# Python While Loops

In [211]:
# In coding, loops are designed to execute a specified code block repeatedly. 
# We'll learn how to construct a while loop in Python, the syntax of a while loop, loop controls like break and continue, and other exercises in this tutorial.

In [212]:
# The Python while loop iteration of a code block is executed as long as the given condition, i.e., conditional_expression, is true.

In [213]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [218]:
n = int(input("Enter any Number  :"));
i=1
while i <11:
     print(n," * ",i," = ",n*i)
     i=i+1

Enter any Number  :5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [219]:
# The break Statement
# With the break statement we can stop the loop even if the while condition is true:

In [220]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [221]:
# The continue Statement

# With the continue statement we can stop the current iteration, and continue with the next:

In [222]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# Function

In [1]:
# A function is a block of code which only runs when it is called.

# You can pass data, known as parameters, into a function.

# A function can return data as a result.

In [2]:
# Creating a Function

In [3]:
def my_function():
  print("Hello from a function")

In [4]:
# Calling a Function
# To call a function, use the function name followed by parenthesis:

In [5]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [6]:
# Function Arguments

In [7]:
# Default arguments
# Keyword arguments
# Required arguments
# Variable-length arguments

In [8]:
# 1) Default Arguments

# A default argument is a kind of parameter that takes as input a default value if no value is supplied for the argument when the function is called. 
# Default arguments are demonstrated in the following instance.

In [10]:
def printinfo( name, age = 35 ):
    print ("Name: ", name)
    print ("Age ", age)
    return

printinfo( age=50, name="miki" )
printinfo( name="miki" )

Name:  miki
Age  50
Name:  miki
Age  35

In [11]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [12]:
# 2) Keyword Arguments

# A function called's arguments are linked to keyword arguments. 
# When invoking a function with keyword arguments, the user may tell whose parameter value it is by looking at the parameter label.

In [13]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Vedika", child2 = "Rahul", child3 = "Sanvi")

The youngest child is Sanvi

In [14]:
# 3) Variable-Length Arguments

# We can use special characters in Python functions to pass as many arguments as we want in a function. 
# There are two types of characters that we can use for this purpose:

# *args -These are Non-Keyword Arguments
# **kwargs -These are Keyword Arguments.

In [15]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [16]:
# **kwargs -These are Keyword Arguments.

# If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.


def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [17]:
# The return Statement

#The statement return [expression] exits a function, optionally passing back an expression to the caller. 

#A return statement with no arguments is the same as return None.

In [18]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# Python Lambda Functions

In [19]:
# Lambda Functions in Python are anonymous functions, implying they don't have a name. 

# We can also use the lambda keyword in Python to define an unnamed function.

In [20]:
add = lambda num: num + 4  
print( add(6) )

10

In [21]:
x = lambda a : a + 10
print(x(5))

15

In [22]:
x=lambda a,b:a*b
print(x(5,6))

30

In [23]:
x = lambda a, b, c : a + b + c
print(x(5,6,2))

13

In [24]:
# Using Lambda Function with filter()

# The filter() method accepts two arguments in Python: a function and an iterable such as a list.

# As the name suggests, the filter() function in Python will help us to filter the lists.

In [30]:
list1 = [34, 12, 64, 55, 75, 13, 63]  

odd_list = list(filter( lambda num: (num % 2 != 0) , list1 ))  

print(odd_list)

[55, 75, 13, 63]

In [32]:
numbers = [1,2,3,4,5,6,7,8]

even_no = list(filter((lambda x : x%2==0),numbers))

print(even_no)

[2, 4, 6, 8]

In [33]:
# Using Lambda Function with map()

# The Python map() function is mostly used to modify the items in the list.

In [34]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sq_numbers = list(map((lambda x : x*x),numbers))

print(sq_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
# 3. Use of the Python Lambda Function Inside reduce() Function

# The Python reduce() function is mostly used to reduce the entire list into a single result.

In [36]:
from functools import reduce

numbers = [ 1, 2, 3, 4, 5, 6]

sum = reduce((lambda x, y: x + y), numbers)

print(sum)

21

# Python File handling

In [37]:
# File handling is an important part of any web application.

# Python has several functions for creating, reading, updating, and deleting files.

In [38]:
# The key function for working with files in Python is the open() function.

# The open() function takes two parameters; filename, and mode.

# There are four different methods (modes) for opening a file:

# "r" - Read - Default value. Opens a file for reading, error if the file does not exist

# "a" - Append - Opens a file for appending, creates the file if it does not exist

# "w" - Write - Opens a file for writing, creates the file if it does not exist

# "x" - Create - Creates the specified file, returns an error if the file exists

In [39]:
import os
print(os.getcwd())

C:\Users\HP\Downloads

In [43]:
f = open('demo.txt','x')

In [44]:
# Write to an Existing File

# To write to an existing file, you must add a parameter to the open() function:

# "a" Append - will append to the end of the file

# "w - Write - will overwrite any existing content

In [48]:
f = open('demo.txt','w')
f.write("Hello! Welcome to demofile.txt\n This file is for testing purposes.")
f.close()

In [49]:
# Read Files

# The open() function returns a file object, which has a read() method for reading the content of the file:

In [50]:
f = open('demo.txt','r')
print(f.read())

Hello! Welcome to demofile.txt
 This file is for testing purposes.

In [51]:
# Read Only Parts of the File

# By default the read() method returns the whole text, but you can also specify how many characters you want to return:

In [53]:
f = open('demo.txt','r')
print(f.read(5))

Hello

In [54]:
# Read Lines

# You can return one line by using the readline() method:

In [55]:
f = open('demo.txt','r')
print(f.readline())

Hello! Welcome to demofile.txt

In [56]:
f = open('demo.txt','r')
print(f.readline())
print(f.readline())

Hello! Welcome to demofile.txt

 This file is for testing purposes.

# OOPS in Python

In [57]:
# Like other general-purpose programming languages, Python is also an object-oriented language since its beginning. 
# It allows us to develop applications using an Object-Oriented approach. 
# In Python, we can easily create and use classes and objects.

In [58]:
# An object-oriented paradigm is to design the program using classes and objects. 
# The object is related to real-word entities such as book, house, pencil, etc. The oops concept focuses on writing the reusable code. 
# It is a widespread technique to solve the problem by creating objects.

In [59]:
# Major principles of object-oriented programming system are given below.

# Class
# Object
# Method
# Inheritance
# Polymorphism
# Data Abstraction
# Encapsulation

In [60]:
# Class:-

# A class is a collection of objects. 
# A class contains the blueprints or the prototype from which the objects are being created. 
# It is a logical entity that contains some attributes and methods.

In [61]:
# Classes are created by keyword class.
# Attributes are the variables that belong to a class.
# Attributes are always public and can be accessed using the dot (.) operator. Eg.: Myclass.Myattribute

In [62]:
# Creating an empty Class in Python

class Dog:
    pass

In [63]:
# Objects:-

# The object is an entity that has a state and behavior associated with it.
# It may be any real-world object like a mouse, keyboard, chair, table, pen, etc. Integers, strings, floating-point numbers, even arrays, and dictionaries, are all objects.

In [64]:
# Creating an object

obj = Dog()

In [65]:
# self in Python class
# self represents the instance of the class.
# By using the “self”  we can access the attributes and methods of the class in python

In [66]:
class check:
    def __init__(self):
        print("Address of self = ",id(self))
  
obj = check()
print("Address of class object = ",id(obj))

Address of self =  2554182971104
Address of class object =  2554182971104

In [67]:
# The __init__ method 
# The __init__ method is similar to constructors in C++ and Java.
# It is run as soon as an object of a class is instantiated.
# The method is useful to do any initialization you want to do with your object.

In [69]:
class Employee:    
    id = 10   
    name = "John"    
    def display (self):    
        print("ID: %d \nName: %s"%(self.id,self.name))    
# Creating a emp instance of Employee class  
emp = Employee()    
emp.display()

ID: 10
Name: John

In [70]:
class Employee:  
    def __init__(self, name, id):  
        self.id = id  
        self.name = name  
  
    def display(self):  
        print("ID: %d \nName: %s" % (self.id, self.name))  
  
  
emp1 = Employee("hemant", 101)  
emp2 = Employee("rohini", 102)  
  
# accessing display() method to print employee 1 information  
  
emp1.display()  
  
# accessing display() method to print employee 2 information  
emp2.display()

ID: 101
Name: hemant
ID: 102
Name: rohini

In [71]:
# Inheritance

# Inheritance is the ability to ‘inherit’ features or attributes from already written classes into newer classes we make.

# In python inheritance, new classes inherits from older classes.

In [72]:
# Types of Inheritance in Python

# Single Inheritance in Python
# Multiple Inheritance in Python
# Multilevel Inheritance in Python
# Hierarchical Inheritance in Python
# Hybrid Inheritance in Python

In [74]:
# # Single Inheritance in Python


# Single Inheritance is the simplest form of inheritance where a single child class is derived from a single parent class. 
# Due to its candid nature, it is also known as Simple Inheritance.

In [76]:
class Parent:
    def func1(self):
        print("Hello Parent")
class Child(Parent):
    def func2(self):
        print("Hello Child")
test =Child()
test.func1()
test.func2()

Hello Parent
Hello Child

In [77]:
class Animal:  
    def speak(self):  
        print("Animal Speaking")  
class Dog(Animal):  
    def bark(self):  
        print("dog barking")  
d = Dog()  
d.bark()  
d.speak()

dog barking
Animal Speaking

In [78]:
# Multiple Inheritance in Python

#In multiple inheritance, a single child class is inherited from two or more parent classes. 
# It means the child class has access to all the parent classes' methods and attributes.

In [80]:
class parent1:                     # first parent class
    def func1(self):                   
        print("Hello Parent1")
 
class parent2:                     # second parent class
    def func2(self):                   
        print("Hello Parent2")
 
class parent3:                     # third parent class
    def func2(self):                     # the function name is same as parent2
        print("Hello Parent3")
 
class child(parent1, parent2, parent3):     # child class
    def func3(self):                     # we include the parent classes
        print("Hello Child")       # as an argument comma separated
                           
# Driver Code
test = child()        # object created
test.func1()          # parent1 method called via child
test.func2()          # parent2 method called via child instead of parent3
test.func3()          # child method called

Hello Parent1
Hello Parent2
Hello Child

In [82]:
# Multilevel Inheritance in Python

# In multilevel inheritance, we go beyond just a parent-child relation. 
# We introduce grandchildren, great-grandchildren, grandparents, etc. 
# We have seen only two levels of inheritance with a superior parent class/es and a derived class/es, but here we can have multiple levels where the parent class/es itself is derived from another class/es.

In [83]:
class grandparent:                 # first level
    def func1(self):                   
        print("Hello Grandparent")
 
class parent(grandparent):         # second level
    def func2(self):                   
        print("Hello Parent")
 
class child(parent):               # third level
    def func3(self):                   
        print("Hello Child")   
                               
 
# Driver Code
test = child()                     # object created
test.func1()                       # 3rd level calls 1st level
test.func2()                       # 3rd level calls 2nd level
test.func3()                       # 3rd level calls 3rd level

Hello Grandparent
Hello Parent
Hello Child

In [84]:
# Hierarchical Inheritance in Python

# Hierarchical Inheritance is the right opposite of multiple inheritance. It means that, there are multiple derived child classes from a single parent class

In [85]:
class parent:                       # parent class
    def func1(self):                   
        print("Hello Parent")
 
class child1(parent):               # first child class
    def func2(self):                   
        print("Hello Child1")
 
 
class child2(parent):               # second child class
    def func3(self):                   
        print("Hello Child2")   
                               
 
# Driver Code
test1 = child1()                     # objects created
test2 = child2() 
 
test1.func1()                       # child1 calling parent method
test1.func2()                       # child1 calling its own method
 
test2.func1()                       # child2 calling parent method
test2.func3()                       # child2 calling its own method

Hello Parent
Hello Child1
Hello Parent
Hello Child2

In [86]:
# Hybrid Inheritance in Python

# Hybrid Inheritance is the mixture of two or more different types of inheritance. Here we can have many relationships between parent and child classes with multiple levels.

In [87]:
class parent1:                            # first parent class
    def func1(self):                   
        print("Hello Parent")
 
 
class parent2:                            # second parent class
    def func2(self):                   
        print("Hello Parent")
 
class child1(parent1):                    # first child class
    def func3(self):                   
        print("Hello Child1")
 
 
class child2(child1, parent2):            # second child class
    def func4(self):                   
        print("Hello Child2")   
                               
 
# Driver Code
test1 = child1()                          # object created
test2 = child2()
 
test1.func1()                       # child1 calling parent1 method
test1.func3()                       # child1 calling its own method
 
test2.func1()                       # child2 calling parent1 method
test2.func2()                       # child2 calling parent2 method
test2.func3()                       # child2 calling child1 method
test2.func4()                       # child2 calling its own method

Hello Parent
Hello Child1
Hello Parent
Hello Parent
Hello Child1
Hello Child2

In [88]:
# super() function

# Method overriding is an ability of any object-oriented programming language that allows a subclass or child class to provide a specific implementation of a method already provided by one of its super-classes or parent classes.

In [89]:
class parent:                       # parent class
 
    def __init__(self):             # __init__() of parent
        self.attr1 = 50
        self.attr2 = 66
 
class child(parent):                # child class
 
    def __init__(self):             # __init__() of child
        parent.__init__(self)       # calling parent’s __init__()
        self.attr3 = 45
 
test = child()                      # object initiated
 
print (test.attr1)

50

In [90]:
# issubclass() The issubclass() function is a convenient way to check whether a class is the child of the parent class. 
# In other words, it checks if the first class is derived from the second class. 
# If the classes share a parent-child relationship, it returns a boolean value of True. Otherwise, False.

In [91]:
# isinstance() isinstance() is another inbuilt function of python which allows us to check whether an object is an instance of a particular class or any of the classes it has been derived from.

In [93]:
class parent:                     # parent class
    def func1():                   
        print("Hello Parent")
 
class child(parent):              # child class
    def func2():                 
        print("Hello Child")  
                                
 
# Driver Code
 
print(issubclass(child,parent))          # checks if child is subclass of parent
 
print(issubclass(parent,child))          # checks if parent is subclass of child
 
A = child()                        # objects initialized
B = parent()
 
print(isinstance(A,child))                # checks if A is instance of child
print(isinstance(A,parent))               # checks if A is instance of parent
print(isinstance(B,child))                # checks if B is instance of child
print(isinstance(B,parent))            # checks if B is instance of parent

True
False
True
True
False
True

In [94]:
# Encapsulation in Python

# Encapsulation is one of the cornerstone concepts of OOP.

# The basic idea of Encapsulation is to wrap up both data and methods into one single unit.

In [96]:
# Why do we need Encapsulation in Python?

# The primary advantage of using Encapsulation in Python is that as a user, we do not need to know the architecture of the methods and the data and can just focus on making use of these functional, encapsulated units for our applications. 

# Another advantage of encapsulation is that it prevents the accidental modification of the data and methods

In [97]:
# Public Members
# Private Members
# Protected Members

In [98]:
# Encapsulation in Python using public members

# As the name suggests, the public modifier allows variables and functions to be accessible from anywhere within the class and from any part of the program

In [100]:
class pub_mod:
    # constructor
    def __init__(self, name, age):
        self.name = name;
        self.age = age;
 
    def Age(self): 
        # accessing public data member 
        print("Age: ", self.age)
# creating object 
obj = pub_mod("Hemant", 31);
# accessing public data member 
print("Name: ", obj.name)  
# calling public member function of the class 
obj.Age()

Name:  Hemant
Age:  31

In [101]:
# Encapsulation in Python using private members

# The private access modifier allows member methods and variables to be accessed only within the class.

# specify a private access modifier for a member, we make use of the double underscore __.

In [104]:
class Rectangle:
  __length = 0 #private variable
  __breadth = 0#private variable
  def __init__(self): 
    #constructor
    self.__length = 5
    self.__breadth = 3
    #printing values of the private variable within the class
    print(self.__length)
    print(self.__breadth)
    
rect = Rectangle() #object created 
#printing values of the private variable outside the class 
print(rect.length)
print(rect.breadth)

5
3

AttributeError: 'Rectangle' object has no attribute 'length'

In [105]:
class details:
    _name="Jason"
    _age=35
    _job="Developer"
class pro_mod(details):
    def __init__(self):
        print(self._name)
        print(self._age)
        print(self._job)
 
# creating object of the class 
obj = pro_mod()

Jason
35
Developer

In [106]:
# Encapsulation in Python using protected members

# What sets protected members apart from private members is that they allow the members to be accessed within the class and allow them to be accessed by the sub-classes involved. 
# In Python, we demonstrate a protected member by prefixing with an underscore _ before its name

In [107]:
class details:
    _name="Jason"
    _age=35
    _job="Developer"
class pro_mod(details):
    def __init__(self):
        print(self._name)
        print(self._age)
        print(self._job)
 
# creating object of the class 
obj = pro_mod()
# direct access of protected member
print("Name:",obj.name)
print("Age:",obj.age)

Jason
35
Developer

AttributeError: 'pro_mod' object has no attribute 'name'

In [108]:
# Polymorphism in Python

# The literal meaning of Polymorphism is - having different forms.

# Now coming to the world of programming, Polymorphism refers to a function having the same name but being used in different ways and different scenarios. This makes programming easier and more intuitive.

In [109]:
class Cat:
    def __init__(self, name, age):
        self.name = name
        self.age = age
 
    def info(self):
        print(f"I am a cat. My name is {self.name}. I am {self.age} years old.")
 
    def make_sound(self):
        print("Meow")
 
 
class Cow:
    def __init__(self, name, age):
        self.name = name
        self.age = age
 
    def info(self):
        print(f"I am a Cow. My name is {self.name}. I am {self.age} years old.")
 
    def make_sound(self):
        print("Moo")
cat1 = Cat("Kitty", 2.5)
cow1 = Cow("Fluffy", 4)
 
for animal in (cat1, cow1):
    animal.make_sound()
    animal.info()
    animal.make_sound()

Meow
I am a cat. My name is Kitty. I am 2.5 years old.
Meow
Moo
I am a Cow. My name is Fluffy. I am 4 years old.
Moo

In [110]:
# Data Abstraction in Python

# Abstraction is really powerful for making complex tasks and codes simpler when used in Object-Oriented Programming.

# It reduces the complexity for the user by making the relevant part accessible and usable leaving the unnecessary code hidden.

In [112]:
from abc import ABC, abstractmethod

class Parent(ABC):
  #common function
  def common_fn(self):
    print('In the common method of Parent')
 @abstractmethod
  def abs_fn(self): #is supposed to have different implementation in child classes 
    pass

class Child1(Parent):
  def abs_fn(self):
    print('In the abstract method of Child1')

class Child2(Parent):
  def abs_fn(self):
    print('In the abstract method of Child2')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [115]:
from abc import ABC,abstractmethod
 
class Animal(ABC):
 
    #concrete method
    def sleep(self):
        print("I am going to sleep in a while")
 
    @abstractmethod
    def sound(self):
      print("This function is for defining the sound by any animal")
        pass
 
class Snake(Animal):
    def sound(self):
        print("I can hiss")
 
class Dog(Animal):
    def sound(self):
        print("I can bark")
 
class Lion(Animal):
    def sound(self):
        print("I can roar")
       
class Cat(Animal):
    def sound(self):
        print("I can meow")

IndentationError: unexpected indent (3659518208.py, line 12)

# Python Generators

In [1]:
# In Python, a generator is a function that returns an iterator that produces a sequence of values when iterated over.

# Generators are useful when we want to produce a large sequence of values, but we don't want to store all of them in memory at once.

In [2]:
# Create Python Generator

# Generator are function that return a sequence of values. We use yield statement to return the value from function.


# yield statement:- Yield statement return the element from a generator function into a generator object.


# next():- This function is used to retrive element by element from a generator object.


# In Python, similar to defining a normal function, we can define a generator function using the def keyword, but instead of the return statement we use the yield statement.

In [ ]:
def disp(a,b):
    yield a
    yield b
x, y=disp(10,20)
print(x)
print(y)

:

In [6]:
def simple()
    for i in range(10):
        if(i%2==0):
            yield i
for i in simple():
    print(i)

0
2
4
6
8

# Python Decorators

In [7]:
# In Python, a decorator is a design pattern that allows you to modify the functionality of a function by wrapping it in another function.

In [8]:
# The outer function is called the decorator, which takes the original function as an argument and returns a modified version of it.

In [9]:
def make_pretty(func):

    def inner():
        print("I got decorated")
        func()
    return inner

@make_pretty
def ordinary():
    print("I am ordinary")

ordinary()

I got decorated
I am ordinary

# Python Dates

In [1]:
# A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [2]:
import datetime

x = datetime.datetime.now()

print(x)

2023-07-02 10:51:42.326943

In [3]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2023
Sunday

# Creating Date Objects

In [4]:
# To create a date, we can use the datetime() class (constructor) of the datetime module.

In [6]:
import datetime

x = datetime.datetime(2023, 7, 2)

print(x)

2023-07-02 00:00:00

# Python RegEx

In [7]:
# A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

# RegEx Module

In [8]:
# Python has a built-in package called re, which can be used to work with Regular Expressions.

In [9]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

# The findall() Function

In [10]:
# The findall() function returns a list containing all matches.

In [11]:
import re

txt = "The rain inain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

# The search() Function

In [12]:
# The search() function searches the string for a match, and returns a Match object if there is a match.

In [13]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

# The split() Function

In [14]:
# The split() function returns a list where the string has been split at each match:

In [15]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

# Python MySQL

In [16]:
# Python can be used in database applications.
# One of the most popular databases is MySQL.

In [17]:
# MySQL Database:- To be able to experiment with the code examples in this tutorial, you should have MySQL installed on your computer.

# You can download a MySQL database at https://www.mysql.com/downloads/.

# Install MySQL Driver

In [18]:
# Python needs a MySQL driver to access the MySQL database.

# In this tutorial we will use the driver "MySQL Connector".

# We recommend that you use PIP to install "MySQL Connector".

# PIP is most likely already installed in your Python environment.

# Navigate your command line to the location of PIP, and type the following:

In [19]:
# C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>python -m pip install mysql-connector-python

# Test MySQL Connector

In [ ]:
import mysql.connector

# Python MySQL Create Database

In [ ]:
# To create a database in MySQL, use the "CREATE DATABASE" statement:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [ ]:
# Check if Database Exists

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

# Python MySQL Create Table

In [ ]:
# To create a table in MySQL, use the "CREATE TABLE" statement.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# Python MySQL Insert Into Table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
# Insert Multiple Rows
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

# Python MySQL Select From

In [ ]:
# To select from a table in MySQL, use the "SELECT" statement:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

# Python MySQL Where

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

# Python MySQL Order By

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)